@model X.PagedList.IPagedList<babiltr.Models.USER.GetAllTranslatorViewModel>
@using X.PagedList.Mvc.Core
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BabilTR İlana Başvuranları Görüntüleme Sayfası </title>
    <meta name="description" content="Job Listing Bootstrap 5 Template" />
    <meta name="keywords" content="Onepage, creative, modern, bootstrap 5, multipurpose, clean, Job Listing, Job Board, Job, Job Portal" />
    <meta name="author" content="Shreethemes" />
    <meta name="website" content="https://shreethemes.in" />
    <meta name="email" content="support@shreethemes.in" />
    <meta name="version" content="1.0.0" />
</head>

<body>
    <!-- Hero Start -->
    <section class="bg-half-170 d-table w-100" style="background: url(/thema/jobnova_v1.0.1/html/images/hero/bg.jpg);">
        <div class="bg-overlay bg-gradient-overlay"></div>
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-12">
                    <div class="title-heading text-center">
                        <h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">Başvuran Çevirmenler</h5>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Start -->
    <section class="section">
        <div class="container">
            <div class="row g-4">
                @if (!Model.Any())
                {
                    <div class="col-12 text-center">
                        <p class="text-muted">Henüz bir başvuru bulunmamaktadır.</p>
                    </div>
                }
                else
                {
                    @foreach (var translator in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="candidate-card position-relative overflow-hidden text-center shadow rounded p-4">
                                <div class="content">
                                    @if (translator.PhotoUrl != null)
                                    {
                                        <img src="@translator.PhotoUrl" class="avatar avatar-medium img-thumbnail rounded-pill shadow-sm" id="profile-image" alt="Profil Resmi">
                                    }
                                    else
                                    {
                                        <img src="~/images/defaultphoto.jpeg" class="avatar avatar-medium img-thumbnail rounded-pill shadow-sm" id="profile-image" alt="Profil Resmi">
                                    }

                                    <div class="mt-3">
                                        <a href="/User/GetUser/@translator.UserID" class="title h5 text-dark">
                                            @translator.FirstName @translator.LastName
                                        </a>

                                        @if (!string.IsNullOrEmpty(translator.Occupation))
                                        {
                                            <p class="text-muted mt-1">@translator.Occupation</p>
                                        }

                                        @if (translator.Skills != null && translator.Skills.Any())
                                        {
                                            foreach (var skill in translator.Skills)
                                            {
                                                <span class="badge bg-soft-primary rounded-pill">@skill.SkillName</span>
                                            }
                                        }
                                    </div>

                                    <div class="mt-2 d-flex align-items-center justify-content-between">
                                        <div class="text-center">
                                            <p class="text-muted fw-medium mb-0">Saatlik Ücret:</p>
                                            @if (translator.Salary != null)
                                            {
                                                <p class="mb-0 fw-medium">@translator.Salary TL</p>
                                            }
                                        </div>

                                        <div class="text-center">
                                            <p class="text-muted fw-medium mb-0">Tecrübe:</p>
                                            @if (translator.Experience != null)
                                            {
                                                <p class="mb-0 fw-medium">@translator.Experience Yıl</p>
                                            }
                                        </div>
                                    </div>

                                    <div class="mt-3 d-flex">
                                        <a href="/User/GetUser/@translator.UserID" class="btn btn-sm btn-primary me-1">Profili Görüntüle</a>
                                        <a href="contactus.html" class="btn btn-sm btn-icon btn-soft-primary">
                                            <i data-feather="message-circle" class="icons"></i>
                                        </a>
                                    </div>

                                    <div class="mt-2 d-flex justify-content-between">
                                        <a href="/Applications/ApproveApplication?userId=@translator.UserID&JobID=@translator.JobID" class="btn btn-sm btn-success w-50 me-1">Onayla</a>
                                        <a href="/Applications/RejectApplication?userId=@translator.UserID&JobID=@translator.JobID" class="btn btn-sm btn-danger w-50">Reddet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    }
                }
            </div><!--end row-->

            <div class="row">
                <div class="col-12 mt-4 pt-2">
                    <ul class="pagination justify-content-center mb-0">
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("JobApplications", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                                    <span aria-hidden="true"><i class="mdi mdi-chevron-left fs-6"></i></span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true"><i class="mdi mdi-chevron-left fs-6"></i></span>
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i == Model.PageNumber)
                            {
                                <li class="page-item active"><a class="page-link" href="#">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("JobApplications", new { page = i })">@i</a></li>
                            }
                        }

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("JobApplications", new { page = Model.PageNumber + 1 })" aria-label="Next">
                                    <span aria-hidden="true"><i class="mdi mdi-chevron-right fs-6"></i></span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true"><i class="mdi mdi-chevron-right fs-6"></i></span>
                                </a>
                            </li>
                        }
                    </ul>
                </div><!--end col-->
            </div><!--end row-->

        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->
    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded fs-5"><i data-feather="arrow-up" class="fea icon-sm align-middle"></i></a>
    <!-- Back to top -->
</body>
</html>